Solutions/Main/Workflows/GrantPermissionsToManager-0F9FAD19-FE08-EC11-B6E6-000D3A8AF4AE.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"ow_sharedcommondataservice_0182a"},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ow_sharedcommondataserviceforapps_e12ad"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"ow_timetrackingrecordid":{"title":"Time Tracking Record","type":"string","format":"guid"},"_ow_project_value":{"title":"Project","type":"string","format":"guid"}},"required":[]}},"required":[]}}},"required":[]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"ow_timetrackingrecords"}}}},"actions":{"Perform_an_unbound_action":{"runAfter":{"GetProjectRecord":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"actionName":"GrantAccess","item/Target":"ow_timetrackingrecords(@{triggerBody()?['entity']?['ow_timetrackingrecordid']})","item/PrincipalAccess":{"Principal":{"systemuserid":"@{outputs('GetProjectRecord')?['body/_ow_manager_value']}","@{variables('atSymbol')}odata.type":"Microsoft.Dynamics.CRM.systemuser"},"AccessMask":"WriteAccess"}},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"GetProjectRecord":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"https://orgec343129.crm.dynamics.com","table":"ow_timetrackingprojects","id":"@triggerBody()?['entity']?['_ow_project_value']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"atSymbol","type":"string","value":"@@"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}